body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('auto.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

.info {
    padding: 50px 20px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    text-align: center;
}

.icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
} 